<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


 <!-- This is for the icon image library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />


  <title>Clippit</title>
</head>

<header>

        <% include ./partials/_header %>

</header>


<body>
    <!-- Add EJS code here -->



       <h2>Resource</h2>
       <div class="resource">

       <h2>Resource: <%= rows[0].title; %></h2>

        <form action="/resource/:id" method="GET">
            <div class="title-area">
              <h4><%= rows[0].title; %></h4>
            </div>
            <p><%= rows[0].description; %></p>
            <a href="<%= rows[0].url; %>" target="_blank"><%= rows[0].title; %></a>


            <p>
              <i class="far fa-heart"><span id="numLikes"><%= numLikes %><span></i>
              <i class="far fa-star"></i>
              <i class="far fa-comment-dots"></i>
            </p>


            <!-- <form id="send-tweet" method="POST" action="/tweets/"> -->
              <textarea name="text" placeholder="What opinion about this resource do you want the world to know?"></textarea>
              <!-- <p class="tweetExceed"> Text must not exceed 140 characters </p> -->
              <input type="submit" value="Tweet">
              <!-- <span class="counter">140</span> -->
        </form>

        <form action="/tags" method="POST">
          <input type="hidden" name="resource_id" value="<%= rows[0].resource_id %>">
          <input class="form-control" type="text" name="tag" placeholder="Please provide a tag" style="width: 300px; margin: 1em" maxlength="255" >
          <button type="submit" class="btn btn-primary">Add Tag</button>
        </form>

        <form action="/comments" method="POST">
          <input type="hidden" name="resource_id" value="<%= rows[0].resource_id %>">
          <textarea name="comment" id="" placeholder="Comment on your resource" maxlength="1000" required></textarea>
          <button type="submit" class="btn btn-primary">Add Comment</button>
        </form>

        <form action="/ratings" method="POST">
          <input type="hidden" name="resource_id" value="<%= rows[0].resource_id %>">
          <select name="rating" id="rating">
            <optgroup label="Rating">
              <option value="0">Choose your rating</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </optgroup>
          </select>
        </form>

      </div>
  <!-- Loading scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/app.js"></script>
</body>





</html>
