<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Clippit</title>
</head>

<header>

    <% include ./partials/_header %>

</header>

<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->

    <a href="/urls/new">Clippit</a>

    <br>
    <br>


        <h4> Make this page show My Uploaded and Liked Resources: </h4>
        <br>

        <h2>Saved Resources</h2>
        <% for(let row in rows) { %>
          <a href="<%= rows[row].url; %>" target="_blank">
            <%= rows[row].title; %>
          </a>

          <%= rows[row].description; %>
          <br>
        <% } %>

        <h2>Liked Resources</h2>
        <% for(let likerow in likerows) { %>
          <a href="<%= likerows[likerow].url; %>" target="_blank">
            <%= likerows[likerow].title; %>
          </a>

          <%= likerows[likerow].description; %>
          <br>
        <% } %>

    <br>
    <br>
    <br>
    <br>



</body>


</html>
