<title>Resources</title>
<% include ./partials/_header %>
  <!-- Add EJS code here -->
    <div class="container">
      <h2>Resources</h2>
      <div class="row">
        <% for(let row in rows) { %>
        <div class="col-4">
          <div class="resource-card">
            <div class="resource-title make-flex make-column">
              <div>
                <a href="/resources/<%= rows[row].resource_id %>"><%= rows[row].title; %></a>
              </div>  
              <a class="small" href="<%= rows[row].url %>" target="blank">Visit Site</a>
            </div>
            <div class="resource-description  make-flex make-column">
              <div>
                <% if(rows[row].description) { %>
                  <%= rows[row].description.substring(0, 90); %>
                <% } else { %>
                  <%= rows[row].description %>
                <% } %>
                  ...
                <a href="/resources/<%= rows[row].resource_id %>">read more</a>
              </div>
              <h6>Categories: <%= tags[rows[row].resource_id]; %></h6>
            </div>     
            <div>
                <i class="far fa-heart"></i> <%= rows[row].numlikes; %>
                <i class="far fa-star"></i> <%= rows[row].avgrating; %>
                <br>
                
            </div>
          </div>
        </div>
            <% } %>
      </div>


    </div>
</body>
</html>
