        <% include ./partials/_header %>


  <!-- Add EJS code here -->
    <div class="container" style="margin-top:200px;">
      <div class="row">
        <h2>Resources</h2>
      </div>
      <div class="row">
      <% for(let row in rows) { %>
      <div class="col-4">

          <div class="resource">
            <div class="title-area">
              <h5>
                <a href="/resources/<%= rows[row].resource_id %>">
                  <%= rows[row].title; %>
                </a>
              </h5>
              <a href="<%= rows[row].url %>" target="blank">
                Visit Site
              </a>
            </div>
            <p>
              <%= rows[row].description.substring(0, 90); %>...
              <a href="/resources/<%= rows[row].resource_id %>">read more</a>
            </p>
            <p>
              <i class="far fa-heart"></i> <%= rows[row].numlikes; %>
              <i class="far fa-star"></i> <%= rows[row].avgrating; %>
            </p>
          </div>
        </a>
      </div>
        <% } %>
      </div>

    </div>

</body>





</html>
