<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Clippit</title>
</head>

<header>

    <% include ./partials/_header %>

</header>

<body style="padding-top: 120px;">
  <!-- Add EJS code here -->


  <div class="container">
    <h2>Added Resources</h2>

    <div class="row">
      <% for(let row in rows) { %>
        <div class="col-4">
          <div class="resource-card">
              <a href="<%= rows[row].url; %>" target="_blank">
                <h4 class="resource-title">
                  <%= rows[row].title; %>
                </h4>
              </a>
        
              <div class="resource-description">
                <%= rows[row].description; %>
              </div>
            </div>
        </div>
      <% } %>
    </div>

    <h2>Liked Resources</h2>

    <div class="row">
      <% for(let likerow in likerows) { %>
        <div class="col-4">
          <div class="resource-card">
            <a href="<%= likerows[likerow].url; %>" target="_blank">
              <h4 class="resource-title">
                <%= likerows[likerow].title; %>
              </h4>
            </a>

            <div class="resource-description">
              <%= likerows[likerow].description; %>
            </div>
          </div>        
        </div>
      <% } %>
    </div>
  </div>




  <br>
  <br>
  <br>
  <br>
</body>

</html>
