<title>Clippit</title>
    <% include ./partials/_header %>

  <div class="container wrapper-login">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>Resource feedback</h2>
        
        <div class="resource-card">
            <div class="resource-title make-flex make-column">
                <div>
                  <a href="/resources/<%= rows[0].resource_id %>"><%= rows[0].title; %></a>
                </div>  
                <a class="small" href="<%= rows[0].url %>" target="blank">Visit Site</a>
              </div>

          <div class="resource-description">
            <%= rows[0].description; %>
            <br>
            <p class="icons">
              <i class="far fa-heart"><span id="numLikes"><%= numLikes %><span></i>
            </p>

            <div class="row make-flex make-column">
              
              <div class="comments">
                <form action="/tags" method="POST" class="form-inline">
                  <input type="hidden" name="resource_id" value="<%= rows[0].resource_id %>">
                  <div class="form-group">
                    <input class="form-control" type="text" name="tag" placeholder="Please provide a tag">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add Tag</button>
                  </div>
                </form>
              </div>

              <div class="comments">
                <form action="/ratings" method="POST">
                  <input type="hidden" name="resource_id" value="<%= rows[0].resource_id %>">
                  <div class="form-group">
                    <select name="rating" id="rating" class="form-control rating-dropdown">
                      <optgroup label="Rating">
                        <option value="0">Choose your rating</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </optgroup>
                    </select>
                  </div>
                </form>
              </div>

            <div class="comments">
              <form action="/comments" method="POST">
                <input type="hidden" name="resource_id" value="<%= rows[0].resource_id %>">
                <div class="form-group">
                  <textarea name="comment" id="add-comment" placeholder="Add a comment" maxlength="1000" required
                    class="form-control make-inline"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Add Comment</button>
              </form>

              <h6>Read comments below</h6>
              <% for (let commentId in comments) { %>
                <div class="card comment-card">
                  <div class="card-body comment-card-body">
                    <p class="card-title comment-card-title">
                      <%= comments[commentId].comment %>
                    </p>
                    <div class="card-text comment-card-text">
                      <em>by <%= comments[commentId].name %></em>
                    </div>
                  </div>
                </div>
                <br>
              <% } %>

              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Loading scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/app.js"></script>
</body>





</html>
